In [1]:
import pandas as pd
import numpy as np

In [80]:
data=pd.read_csv("22yztw.csv")
data

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

In [81]:
data['diagnosis'].unique()

array(['Hypertension', 'Diabetes', 'Asthma'], dtype=object)

In [82]:
data.nunique()

record_id      120
patient_id      78
diagnosis        3
bp               4
sugar_level      3
visit_cost       4
dtype: int64

In [83]:
data['diagnosis'].value_counts()

diagnosis
Diabetes        43
Hypertension    41
Asthma          36
Name: count, dtype: int64

In [84]:
data['diagnosis'].unique()

array(['Hypertension', 'Diabetes', 'Asthma'], dtype=object)

In [85]:
data['bp'].value_counts()

bp
high      34
140/90    33
130/85    32
120/80    21
Name: count, dtype: int64

In [86]:
data['sugar_level'].value_counts()

sugar_level
140.0    32
110.0    29
180.0    24
Name: count, dtype: int64

In [87]:
data['visit_cost'].unique()

array([2000, 2500, 3000, 1500], dtype=int64)

In [88]:
data['visit_cost'].value_counts()

visit_cost
3000    34
2000    29
2500    29
1500    28
Name: count, dtype: int64

In [110]:
data=pd.read_csv("6svfo1.csv")
data

    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi      1/16/2024       170
2         P003    Neha Singh  -5.0       M   Mumbai      1/16/2024       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata      1/15/2024       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai      1/15/2024       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai      1/15/2024       160
128       P009           NaN  45.0       M   Mumbai      1/15/2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai      1/16/2024       150

[130 rows x 7 columns]

In [90]:
data['age'].value_counts()

age
 60.0    33
 25.0    31
 45.0    15
-5.0     14
 30.0    13
Name: count, dtype: int64

In [91]:
data.loc[data['age']<0,'age']=0

In [92]:
data['age'].value_counts()

age
60.0    33
25.0    31
45.0    15
0.0     14
30.0    13
Name: count, dtype: int64

In [93]:
data.loc[data['age']==0,'age']=60

In [94]:
data['age'].value_counts()

age
60.0    47
25.0    31
45.0    15
30.0    13
Name: count, dtype: int64

In [95]:
data['gender'].value_counts()

gender
F         38
M         37
Female    30
Male      25
Name: count, dtype: int64

In [96]:
data.loc[data['gender']=="Male",'gender']="M"
data.loc[data['gender']=="Female",'gender']="F"

In [97]:
data['gender'].value_counts()

gender
F    68
M    62
Name: count, dtype: int64

In [98]:
data['city'].value_counts()

city
kolkata    30
mumbai     26
Mumbai     25
Chennai    25
Delhi      24
Name: count, dtype: int64

In [99]:
data.loc[data['city']=="mumbai",'city']="Mumbai"

In [100]:
data['city'].value_counts()

city
Mumbai     51
kolkata    30
Chennai    25
Delhi      24
Name: count, dtype: int64

In [101]:
data['admission_date'].value_counts()

admission_date
1/16/2024     46
15/01/2024    45
1/15/2024     39
Name: count, dtype: int64

In [102]:
data.loc[data['admissiom_date']==15/01/2024,'admissiom_date']=5/01/2024

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4114389094.py, line 1)

In [103]:
data['height_cm'].value_counts()

height_cm
170    30
160    26
abc    26
180    24
150    24
Name: count, dtype: int64

In [104]:
data.loc[data['height_cm']=="abc",'height_cm']=170

In [105]:
data['height_cm'].value_counts()

height_cm
170    30
160    26
170    26
180    24
150    24
Name: count, dtype: int64

In [109]:
data["patient_id"].value_counts()

patient_id
P001    2
P003    2
P004    2
P005    2
P006    2
       ..
P042    1
P041    1
P040    1
P039    1
P120    1
Name: count, Length: 120, dtype: int64

In [111]:
data["name"].value_counts()

name
Neha Singh      33
Anita Verma     25
John Paul       25
Rahul Sharma    24
Name: count, dtype: int64